$purple1: #7c5dfa;
$purple2: #9277ff;

$gray1: #dfe3fa;
$gray2: #888eb0;
$gray3: #7e88c3;

$navy1: #1e2139;
$navy2: #252945;

$black1: #0c0e16;
$black2: #141625;

$red1: #ec5757;
$red2: #ff9797;

$white: #f8f8fb;
