@import "variables";

.icon {
  display: inline-block;
  width: fit-content;
  min-width: 2rem;
  height: 1.5rem;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  color: $font-dark;
  text-align: center;
  background-color: $light-red;
  border-radius: 999px;
}

.animation {
  animation: bounce 0.4s ease-in-out 2;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}
