@import "variables";

.wrapper {
  display: flex;
  align-items: center;
  height: 60svh;
  background-image: url("/images/top-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 80em) {
    justify-content: center;
  }

  @media (max-width: 48em) {
    height: 80svh;
  }

  .textWrapper {
    max-width: 80ch;
    padding: 1.5rem;
    margin-left: 3rem;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);

    @media (max-width: 48em) {
      max-height: 90%;
      margin: 1rem;
    }

    p {
      line-height: 1.75rem;
    }
  }
}
